<h1>Track Shoes™ || <i class="em em-shoe"></i> + <i class="em em-boot"></i> + <i class="em em-sandal"></i></h1>
<img src="img/main.jpg" alt="distribution center #1 front image">
<ul>
  <li><a class="btn btn-lg btn-success" href="/stores">Manage Stores</a></li>
  <li><a class="btn btn-med btn-primary" href="/shoes">Add Shoes to Inventory</a></li>
</ul>
