*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  background-color: #B9A8B1;
  font-family: cursive, sans-serif;
  font-weight: bold;
  font-size: 1.2em;
}
h1 {
  text-decoration: none;
  text-shadow: 2px 2px 4px teal,
  -2px -2px 4px teal,
  -2px 2px 4px blue,
  2px -2px 4px blue;
}
h2 {
  text-decoration: none;
  text-shadow: 2px 2px 3px orchid,
  -2px -2px 3px orchid,
  -2px 2px 3px pink,
  2px -2px 3px pink;
  margin: 12px;
}
h4 {
  margin-left: 2vw;
}
a {
  text-decoration: none;
}
a:hover {
  text-shadow: 2px 2px 4px orange,
  -2px -2px 4px orange,
  -2px 2px 4px gold,
  2px -2px 4px gold;
}
button {
  font-size: 1em;
  font-family: serif;
  padding: 8px;
  margin: 10px;
  border-radius: 8px;
  background-color: #988A60;
  color: #1B253B;
  border: 8px #1B253B ridge;
}

form {
  margin: 0px;
}

input {
  padding: 8px;
  margin: 10px;
  border-radius: 8px;
  font-family: serif;
  font-size: 1.1em;
}
ul {
  list-style: none;
}
li, h3 {
  padding: 3vw;
  font-family: 'Menlo', sans-serif;
  font-size: 1.7rem;
}
/*centering classes*/
.center-me {
  margin: auto;
  width: 50%;
}
.center-me-2 {
  display: block;
  margin: auto;
  width: 40%;
}
/*specific page zones*/
body div div {
  background-color: #B9A8B1;
  color: SeaGreen, green;
  height: 25%;
  top: 0px;
  z-index: 0;
}
/*special styling*/
body div h1 {
  text-align: center;
  /*display: block;
  margin: auto;*/
  padding: 6px;
}
.rubbersole-image {
  display: block;
  margin: auto;
  min-width: 500px;
  margin-top: 10px;
  border-radius: 25px;
  border: outset #591115 8px;
}
button:hover {
  background-color: #988A60;
  color: red;
  border: 8px #356321 ridge;
}
/*gradients & special coloring*/
.warm-top-gradient {
  background: cornsilk; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(#591115, #BD3A42, #CC890F, #F5D440, white); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#591115, #BD3A42, #CC890F, #F5D440, white); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#591115, #BD3A42, #CC890F, #F5D440, white); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#591115, #BD3A42, #CC890F, #F5D440, white); /* Standard syntax */
}
.warm-bottom-gradient {
  background: cornsilk; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(white, ##F5D440, #CC890F, #BD3A42, #591115); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(white, ##F5D440, #CC890F, #BD3A42, #591115); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(white, ##F5D440, #CC890F, #BD3A42, #591115); /* For Firefox 3.6 to 15 */
    background: linear-gradient(white, ##F5D440, #CC890F, #BD3A42, #591115); /* Standard syntax */
}
.cool-top-gradient {
  background: #6C9BC3; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(#94e056, #30b0dc, #6C9BC3, #C5BED9, white); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(#94e056, #30b0dc, #6C9BC3, #C5BED9, white); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(#94e056, #30b0dc, #6C9BC3, #C5BED9, white); /* For Firefox 3.6 to 15 */
  background: linear-gradient(#94e056, #30b0dc, #6C9BC3, #C5BED9, white); /* Standard syntax */
}
.cool-bottom-gradient {
  background: #6C9BC3; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(white, #C5BED9, #6C9BC3, #30b0dc, #94e056); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(white, #C5BED9, #6C9BC3, #30b0dc, #94e056); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(white, #C5BED9, #6C9BC3, #30b0dc, #94e056); /* For Firefox 3.6 to 15 */
    background: linear-gradient(white, #C5BED9, #6C9BC3, #30b0dc, #94e056); /* Standard syntax */
}
